@charset "utf-8";
@import
    "../common/var",
    "../common/mixin",
    "../animation/_loading-bar.scss";

.artm-loading-bar { position: relative; width: 100%; height: 2px; z-index: $z-index-loading-bar; overflow: hidden;
    &_fixed { position: fixed; left: 0; top: 0; }
    &-inner { height: 100%; transition: all $animateTime linear; width: 0;
        &_success { background-color: $blue;}
        &_fail { background-color: $red;}
    }
}
