@charset "utf-8";
@import
    "../common/var",
    "../common/mixin";

.artm-tabs { position: relative; display: flex; background-color: $white;
    &:before { @include border-bottom($borderColor);}
    .artm-tab-bar { position: absolute; left: 0; bottom: 0;}
    .artm-tab-inner-bar { display: block; height: 100%; margin: 0 auto;}
}
