@charset "utf-8";
@import
    "../common/var",
    "../common/mixin";

.artm-tag { display: inline-block; font-size: 0; border-radius: $borderRadius;
    &_level1 { background-color: $blue;}
    &_level2 { background-color: $green;}
    &_level3 { background-color: $orange;}
    &_level4 { background-color: $red;}
    &_level5 { background-color: $mainStrong;}
    &_level6 { background-color: $remark;}
    &-cont { display: block; height: 20px; line-height: 20px; white-space: nowrap; color: $white; font-size: $sizeSmall; text-align: center; padding: 0 5px;}
}
