@charset "utf-8";
@import
    "../common/var",
    "../common/mixin";

.artm-textarea { position: relative; box-sizing: border-box; overflow: hidden;
    &-label { min-width: 30%; height: 36px; line-height: 36px; font-size: $sizeMedium; color: $mainStrong; backface-visibility: hidden; perspective: 1000; transition-duration: $animateTime;}
    &-original { position: relative;
        textarea { width: 100%; border: none; outline: none; padding: 6px 0; resize: none; font-size: $sizeMedium; line-height: 1.5; color: $mainStrong; background: none;
            &::-webkit-input-placeholder { color: $mainWeak; transition: all $animateTime; line-height: 1.5;}
        }
        .icon-clear { position: absolute; right: 0; top: 50%; margin-top: -8px; width: 16px; height: 16px; background-color: #ccc; border-radius: 100%; overflow: hidden;
            &:before, &:after { content: ""; position: absolute; width: 10px; height: 1px; background-color: $white; left: 50%; top: 50%; margin-top: -0.5px; margin-left: -5px;}
            &:before { transform: rotate(-45deg);}
            &:after { transform: rotate(45deg);}
        }
    }
    &_disabled {
        .artm-textarea-original {
            textarea { pointer-events: none;}
        }
    }
    &_float { display: block;
        .artm-textarea-label { transform-origin: left; transform: scale(1.2) translateY(21px); width: auto; color: $mainWeak; opacity: 0;
            &_float { color: $mainStrong; transform: scale(1) translateY(0); opacity: 1;}
        }
    }
    &_inline { display: flex;
        .artm-textarea-original { flex: 1; width: 0;}
    }
    &_hasClear {
       .artm-textarea-original { padding-right: 16px;}
    }
}