@charset "utf-8";
@import
  "../common/var",
  "../common/mixin",
  "../animation/uploader";

.artm-uploader { position: relative; box-sizing: border-box; display: block; width: 60px; height: 60px; border: 1px solid $borderColor; border-radius: $borderRadius; line-height: 1;
  &-layer { position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden;
    input { display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; cursor: pointer;}
  }
  &-placeholder { position: absolute; left: 50%; top: 50%; width: 30px; height: 2px; margin-left: -15px; margin-top: -1px;
    &:before, &:after { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: $mainWeak;}
    &:after { transform: rotate(90deg);}
  }
  &-close { position: absolute; width: 18px; height: 18px; right: -2px; top: -10px; background: url("//storage.jd.com/static-res/tech/jrv/1.0.0/modal/error.png") no-repeat center center; background-size: 100%; cursor: pointer;}
  &-progress { position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; background-color: rgba(0,0,0,0.7); color: $white;
    &-icon { position: absolute; display: block; left: 50%; top: 50%; margin-top: -15px; margin-left: -15px; width: 30px; height: 30px; border-radius: 100%; animation-fill-mode: both; border: 2px solid #fff; border-bottom-color: rgba(255, 255, 255, 0.1); animation: loading-rotate  0.75s 0s linear infinite;}
    &-desc { font-size: $sizeSmall; text-align: center; line-height: 60px;}
    &_fail {
      .artm-uploader-progress-icon { border: 2px solid #fff; animation: none;
        &:before, &:after { content: ""; position: absolute; left: 50%; top: 50%; width: 15px; height: 2px; margin-top: -1px; margin-left: -7.5px; background-color: $white;}
        &:before { transform: rotate(-45deg);}
        &:after { transform: rotate(45deg);}
      }
    }
    &_success {
      .artm-uploader-progress-icon { border: 2px solid #fff; animation: none;
        &:after { content: ""; position: absolute; top: 5px; left: 9px; width: 8px; height: 12px; border: 2px solid $white; border-left: 0; border-top: 0; transform: rotate(45deg);}
      }
    }
  }
  &-preview { background-color: $white; position: absolute; left: 50%; top: 50%; display: block; max-width: 100%; max-height: 100%; transform: translate(-50%, -50%) translateZ(0);}
  &:active { background-color: $weakBg; transition: all $animateTime;}
}