@charset "utf-8";

.actionsheet-popup-enter-active, .actionsheet-popup-leave-active {
    transition: transform 0.3s ease-out;
}
.actionsheet-popup-enter, .actionsheet-popup-leave-to {
    transform: translateY(100%);
}

.actionsheet-fade-enter-active, .actionsheet-fade-leave-active {
    transition: all 0.3s ease-out;
}
.actionsheet-fade-enter, .actionsheet-fade-leave-to {
    opacity: 0;
}